<% provide(:title, 'About') %>
<h1>About</h1>
<p>Application to help job-seekers keep track of where they have applied and the responses garnered from each application. Also supports entry of specific job descriptions, cover letters & resumes sent with each application.</p>

